ul{
	list-style-type: none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color: black;
}
li{
	float:left;
}
li a{
	text-decoration: none;
	color:white;

	display:block;
	font-family: Verdana;
	padding:20px;
}
li a:hover{
	color:white;
	background-color: red;
}